* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: black;
}

header {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    /* Adjust padding instead of margin for responsive design */
    max-width: 1820px;
    /* Set a maximum width to prevent the header from stretching too wide */
    width: 100%;
    /* Make the header fill the width of its container */
    margin-left: auto;
    margin-right: auto;
}

#logo {
    color: white;
    margin-top: 20px;
}

.hero-container {
    display: block;
    max-width: 1920px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.hero-image {
    overflow: hidden;
    /* Hide any overflow */
    width: 100%;
}

nav {
    margin-top: 20px;
}

li {
    color: white;
    padding-left: 18px;
    display: inline-block;
    list-style: none;
}


h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 800px;
    font-size: 60px;
    text-align: center;
    color: white;
}

p {
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 740px;
}