* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.teko-light {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
}

.teko-semibold {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.teko-bold {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #0f0f0f;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    /* Adjust padding instead of margin for responsive design */
    max-width: 1900px;
    /* Set a maximum width to prevent the header from stretching too wide */
    width: 100%;
    /* Make the header fill the width of its container */
    margin-left: auto;
    margin-right: auto;
}

#logo {
    color: white;
    margin-top: 20px;
}

.bg-white {
    background-color: white;
}

.color-black {
    color: black;
}

.hero-container {
    display: flex;
    max-width: 1920px;
    max-height: 1146px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.hero-container img {
    width: 100%;
}

nav {
    margin-top: 20px;
}

li {
    color: white;
    padding-left: 18px;
    display: inline-block;
    list-style: none;
    font-size: 20px;
}

#h1-hero {
    margin-top: 10px;
    color: #FF3928;
    width: 720px;
    text-align: left;
}

.hero-container .overlay-text {
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    margin-left: 540px;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    font-size: 68px;
    line-height: 60px;
    text-align: center;
    color: white;
}

h2 {
    font-size: 30px;
    color: white;
}

h3 {
    font-size: 24px;
    color: white;
    line-height: 24px;
    margin-bottom: 5px;
    margin-left: 6px;
}

p {
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}

#hero-paragraph {
    width: 600px;
    text-align: left;
    margin-left: 5px;
}

button {
    width: 110px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 12px;
    margin-right: 2px;
    margin-left: 4px;
    background-color: rgba(255, 255, 255, 0.325);
    border: 0px;
    border-radius: 4px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 460px;
    text-align: center;

}

.h1-intro {
    width: 640px;
}

.p-intro {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.h3-intro {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    padding-left: 14px;
    padding-right: 14px;
    height: 24px;
    margin-top: 80px;
    margin-bottom: 14px;
    color: black;
    background-color: #FF3928;

}

#illest-carousel {
    width: 100%;
    height: 380px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    overflow: hidden;
}

.illest-carousel-images {
    width: 410px;
    height: auto;
    border-radius: 10px;
}

.arrow-left {
    font-size: 60px;
    color: #FF3928;
    position: absolute;
    left: 3%;
}

.arrow-right {
    font-size: 60px;
    color: #FF3928;
    position: absolute;
    right: 3%;
}

/*ILLEST CARD*/

#illest-card-container {
    width: 100%;
    height: 600px;
}

#illest-card {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #1f1f1d;
    border-left: 10px solid #FF3928;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#illest-card-text {
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 50px;
}

#illest-portrait {
    max-width: 400px;
    height: auto;
}

/*PERSONAL CARD*/

#personal-card-container {
    width: 100%;
    height: 630px;
    padding-top: 50px;
}

#personal-card {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #1f1f1d;
    border-right: 10px solid #FF3928;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#personal-card-text {
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 50px;
}

#personal-portrait {
    max-width: 400px;
    height: auto;
}

#personal-cards-top {
    width: 97%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: auto;
    display: flex;
    gap: 10px;
    margin-top: 40px;
    justify-content: center;
}

#personal-cards-bottom {
    width: 97%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-bottom: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.personal-card-images {
    flex: 1 1 auto;
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.h3-card {
    color: #FF3928;
    margin-left: 0px;
}

.h1-card {
    text-align: left;
    margin-left: 0;
}

.p-card {
    text-align: left;
}

.black-container {
    width: 100%;
    height: auto;
    background-color: #0f0f0f;
}

#hustle-card-container {
    display: flex;
    width: 94%;
    max-width: 1920px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    flex-wrap: wrap;
}

#hustle-card {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #1f1f1d;
    border-left: 10px solid #FF3928;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#hustle-portrait {
    max-width: 350px;
    height: auto;
}

.hustle-card {
    flex: 1 1 auto;
    width: 200px;
}


#button-top {
    background-color: #FF3928;
    width: 190px;
    margin-bottom: 30px;
}

#footer-button {
    text-align: center;
}

#footer {
    width: 100%;
    height: 40px;
    background-color: #1f1f1d
}

@media (max-width: 800px) {
    h1 {
        font-size: 46px;
        line-height: 46px;
        margin: 0;
    }

    #h1-hero {
        width: 540px;
        margin-bottom: 12px;
    }

    h3 {
        font-size: 26px;
        width: 540px;
        margin-bottom: 0px;
    }

    #hero-paragraph {
        font-size: 16px;
        line-height: 26px;
        width: 540px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        line-height: 26px;

    }

    .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        color: white;
    }

    button {
        width: 100px;
        padding-top: 6px;
        padding-bottom: 6px;
        margin-top: 10px;
        margin-right: 10px;
        background-color: rgba(255, 255, 255, 0.325);
        border: 0px;
        border-radius: 6px;
    }

    .hero-container .overlay-text {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-left: 400px;
    }

    .h1-intro {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .p-intro {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .h3-intro {
        padding-bottom: 10px;
        width: 190px;
        height: 38px;
        margin-bottom: 10px;
        background-color: #FF3928;

    }

    .arrow-left {
        font-size: 60px;
        color: #FF3928;
        position: absolute;
        left: 2%;
    }

    .arrow-right {
        font-size: 60px;
        color: #FF3928;
        position: absolute;
        right: 2%;
    }

    .intro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 440px;
        text-align: center;
        margin-top: 50px;
    }

    #illest-card-container {
        max-width: 1180px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        background-color: #1f1f1d;
        border-left: 15px solid #FF3928;
        margin-top: 30px;
        margin-bottom: 80px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #illest-card-text {
        margin-top: 90px;
        margin-left: 50px;
    }
}

.mySlides {
    display: none;
}