* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.teko-light {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
}

.teko-semibold {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.teko-bold {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    color: white;
}

html {
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    /* Adjust padding instead of margin for responsive design */
    max-width: 1820px;
    /* Set a maximum width to prevent the header from stretching too wide */
    width: 100%;
    /* Make the header fill the width of its container */
    margin-left: auto;
    margin-right: auto;
}

#logo {
    color: white;
    margin-top: 20px;
}

.hero-container {
    display: flex;
    max-width: 1920px;
    max-height: 1146px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.hero-container img {
    width: 100%;
}

nav {
    margin-top: 20px;
}

li {
    color: white;
    padding-left: 18px;
    display: inline-block;
    list-style: none;
    font-size: 20px;
}

#h1-hero {
    color: #FF3928;
    width: 720px;
    text-align: left;
}

.hero-container .overlay-text {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 460px;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 88px;
    line-height: 88px;
    text-align: center;
    color: white;
}

h2 {
    font-size: 30px;
    color: white;
}

h3 {
    font-size: 34px;
    color: white;
    line-height: 44px;
}

p {
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 32px;
}

#hero-paragraph {
    width: 720px;
    text-align: left;
}

button {
    width: 90px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 20px;
    margin-right: 4px;
    background-color: rgba(255, 255, 255, 0.325);
    border: 0px;
    border-radius: 4px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 550px;
    text-align: center;
    margin-top: 50px;

}

.h1-intro {
    width: 840px;
}

.p-intro {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.h3-intro {
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    height: 40px;
    margin-bottom: 14px;
    background-color: #FF3928;

}

#illest-carousel {
    width: 100%;
    height: 380px;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    overflow: hidden;
}

.illest-carousel-images {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.arrow-left {
    font-size: 60px;
    color: #FF3928;
    position: absolute;
    left: 2%;
}

.arrow-right {
    font-size: 60px;
    color: #FF3928;
    position: absolute;
    right: 2%;
}